*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
    font-family: IRANSans Bold;
    color: #000;
    text-decoration: none;
}
body{
    font-family: IRANSans;
}

.menu-top .search .input-group{
    margin-top: 50xp;

}
